$primary: #512D75;
$success: #886F9D;
$warning: #F7BFB4;
$green: #D0EFB1;
$turquoise: #886F9D;
$info: #0094C6;
$danger: #EE7259;
$orange: #F7BFB4;
$red: #EE7259;
$purple: #F1E5EB;
$dark: #293061;
